.profile {
  height: 100%;
  padding: 12px;
  border-right: 1px solid #d3d3d3;
  overflow-y: auto;
  overflow-x: hidden;
}

.profile::-webkit-scrollbar {
  display: none;
}

.profile-form {
  padding-bottom: 60px;
}

.profile .edit {
  margin-top: 6px;
  font-size: 0.6rem;
  text-decoration: underline;
}

.profile .step {
  padding-left: 0;
  width: 100%;
  min-width: 0;
  align-items: center;
}

.profile .step .interest img {
  width: 24px;
  height: 24px;
}

.profile .step .input-default {
  max-width: 184px;
  padding-left: 12px;
  font-size: 0.8rem;
  margin-top: 0;
}

.profile .step .list-interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.profile .step .list-interests .interest {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: start;
}

.profile .step .auth-icons-social {
  width: 24px;
  height: 24px;
  margin-top: 0;
  margin-right: 4px;
}

.profile .step .list-interests li {
  width: 180px;
}

.profile-infos p, label {
  font-size: 0.8rem;
}

.profile .img-profile img {
  border: none;
}

.profile .profile-infos .labeled {
  display: flex;
  flex-direction: column;
}

.profile .profile-infos .labeled-input {
  margin-left: 0;
}

.profile .btn-action {
  font-size: 1rem;
  width: 100%;
}

.profile-save-sucess {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: underline;
  color: var(--color-success);
  margin-top: 16px;
}

