.headline {
  background-image: url('../../../assets/backgrounds/background_home_mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding: 8px;
  align-items: center;
  color: white;
}

.logo img {
  width: 60px;
  height: auto;
}

.logo h1 {
  margin-left: 12px;
  font-weight: 500;
}

.headline-wrapper {
  text-align: start;
  color: white;
  padding-left: 16px;
}

.headline-wrapper img {
  display: none;
}

.headline-wrapper main {
  color: white;
  max-width: clamp(250px, 400px, 80%);
  padding-bottom: 35px;
}

.headline-wrapper main h2 {
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  margin-top: 52px;
  margin-bottom: 16px;
}

.headline-wrapper main p {
  font-size: 1.8rem;
  opacity: 0.7;
  margin-bottom: 60px;
}

@media screen and (min-width:480px) {
  .headline {
    background-image: url('../../../assets/backgrounds/background_home_desktop.png');
  }
}

@media screen and (min-width:780px) {
  .headline-wrapper img {
    display: block;
    width: clamp(200px, 40%, 600px);
    transition-duration: 300ms;
  }

  .headline-wrapper main {
    color: white;
    max-width: 50%;
  }

}
