.message {
  width: 100%;
  margin-top: 6px;
}

.message p {
  padding: 6px;
  font-size: 0.7rem;
  border-radius: 10px;
}

.systeme-message {
  justify-content: center;
}

.systeme-message p {
  border: 1px solid #d3d3d3;
  background-color: transparent;
  color: var(--color-text-gray);
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

.my-message {
  justify-content: flex-end;
}

.my-message p {
  color: white;
  background-color: var(--color-purple);
  border-top-right-radius: 0;
}

.friend-message p {
  color: white;
  background-color: var(--color-pink-ligth);
  border-top-left-radius: 0;
}