.list-friends-wrapper {
  height: 100%;
  background-color: white;
}

.listfriends {
  width: 100%;
  flex-direction: column-reverse;
  text-align: start;
  list-style: none;
  overflow: hidden;
}

.listfriends .friend {
  max-width: 100%;
  padding: 8px;
  background-color: white;
}

.listfriends .friend:hover {
  background-color: #f3f3f3;
}

.listfriends .friend img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: white;
  margin-right: 5px;
}

.listfriends .description-wrapper {
  max-width: 68%;
  flex: 1;
  border-bottom: 1px solid #d3d3d3;
}

.listfriends .description-wrapper h4 {
  font-size: 1rem;
  font-weight: 500;
}

.listfriends .description-wrapper p {
  max-width: 95%;
  margin-top: 4px;
  font-size: 0.8rem;
  overflow: hidden;
}

.listfriends .info-wrapper {
  width: 25px;
}

@media screen and (min-width: 480px) {
  .listfriends .friend img {
    width: 50px;
    height: 50px;
  }

  .listfriends .description-wrapper h4 {
    font-size: 0.8rem;
  }
}
