body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-actions: #ffc23c;
  --color-purple: #8105d8;
  --color-purple-ligth: #c48aec;
  --color-pink: #cf0ad1;
  --color-pink-ligth: #ea90eb;
  --color-text: #343333;
  --color-text-gray: #909090;
  --color-error: #ff4f4f;
  --color-success: #4fda9e;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
